.section {
    border-top: 3px dashed #4493B8;
    background: linear-gradient(45deg, #9E0C25, #03709E);
    color: #28B1EB;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    padding-bottom: 5em;

}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    margin-top: .5em;
    margin: 0 auto;
}


@media (width<500px) {
    .section {
        padding-bottom: 0;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 2em;
        margin-top: 2em;
    }
}