.hideMenu{
    display: none;
}
.showMenu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.showMenu li {
    margin-left: 1em;
    margin-bottom:1em ;
}

.showMenu li:last-child {
    margin-right: 1em;
}

.showMenu li>a {
    text-decoration: none;
    color: #fff;
}

.showMenu li>a:hover {
    color: #9E0C25;
}