:root {
    --color1: #80AAA8;
    --color2: #024b6b;
    --color3: #A2C0bf;
}

.profile {
    border-top: 3px dashed var(--color3);
    background: linear-gradient(90deg, var(--color1), var(--color2));
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 8em;
}

.desktop nav,
.mobile nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: end;
}

.desktop ul {
    display: flex;
    list-style-type: none;
}

.desktop li {
    margin-left: 1em;
}

.desktop li:last-child {
    margin-right: 1em;
}

.desktop li>a {
    text-decoration: none;
    color: #fff;
}

.desktop li>a:hover {
    color: var(--color1);
}

.mobile {
    display: none
}

.profile button {
    background: transparent;
}

.profile svg {
    font-size: 2em;
    margin: 1.5em;
    transition: .5s ease-in-out;
    margin-top: 5em;
}

.profile svg:hover {
    transform: scale(1.2);
}

.name {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-top: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.name h1 {
    font-size: 4vw;
}

.name h2 {
    font-size: 2vw;
}

.hideMenu {
    display: none;
}

.showMenu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.showMenu li {
    margin-left: 1em;
    margin-bottom: 1em;
}

.showMenu li:last-child {
    margin-right: 1em;
}

.showMenu li>a {
    text-decoration: none;
    color: #fff;
}

.showMenu li>a:hover {
    color: var(--color1);
}

.abilities {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: linear-gradient(-45deg, var(--color1), var(--color2));
    border-top: 3px dashed var(--color3);
}

.abilities h1 {
    text-align: center;
    color: var(--color3);
}

.icons,.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.icons div {
    padding: 2.5em;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #C2D4EB;
    width: 15em;
    margin: 1em;
    text-align: center;
}

.icons p {
    text-align: justify;
}

.abilities svg {
    color: #fff;
    font-size: 35pt;
    margin: .5em;
}

.project {
    background-color: #C2D4EB;
    width: 18em;
    height: 25em;
    margin: 1em;
    padding: 2em;
    border-radius: 8px;
    transition: .5s ease-in-out;
    justify-content: space-between;
}

.project h2 {
    font-size: medium;
    color: var(--color2);
    margin: 0 auto;
    height: 2em;
    width: 15em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.project img {
    margin: 0 auto;
    width: 15em;
    height: 8em;
}

.description {
    width: 95%;
    height: 8em;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #fff;
    color: #000000;
    padding: .5em;
    overflow: scroll;
}

.project svg {
    font-size: 2em;
    margin: .5em;
}

.github {
    color: #000000;
}

.download:hover {
    color: var(--color3);
}

.linkedin {
    color: var(--color2);
}

.download {
    color: #fff;
}

.project a {
    margin: 1em;
    text-decoration: none;

}

.project svg {
    transition: .5s ease-in-out;
}

.project svg:hover {
    transform: scale(1.2);
}

.mainProjects {
    border-top: 3px dashed var(--color3);
    background: linear-gradient(45deg, var(--color1), var(--color2));
    color: var(--color3);
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    padding-bottom: 5em;
}

@media (width<1200px) {
    .icons {
        grid-template-columns: repeat(1, 1fr);
    }

    .icons div {
        padding: 1em;
    }
}

@media (width<800px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;

    }

}

@media (width<600px) {

    .name h2 {
        font-size: 4vw;
    }

    .name p {
        font-size: 3vw;
    }

    .project {
        margin: 0 auto;
        margin: 2em;
    }

    .mainProjects {
        padding-bottom: 0;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 2em;
        margin-top: 2em;
    }

}